$icon-font-path: '../fonts/';

$big-title: #fff;
$color-light: #fff;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// GENERAL STYLES
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  outline: none !important;
}

// loader
.loader {
  background: #000;
  background: radial-gradient(#222, #000);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  animation:
          spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: hsl(0, 80%, 60%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: hsl(60, 80%, 60%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: hsl(120, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  border-color: hsl(180, 80%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  border-color: hsl(240, 80%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
}

@keyframes spin {
  0%, 15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
// loader

// backgrounds
.bg-green {
  background-color: #82ca9c;
}

.bg-concrete {
  background-color: #f6f7fa;
}

.bg-navy {
  background-color: #192431;
}
// /backgrounds

.color-light {
  color: $color-light !important;
}

// buttons
.btn {
  &__green {
    @include transition(.5s);

    padding: 10px 20px;

    border-radius: 3px;
    background-color: #82ca9c;

    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
    font-size: 13px;
    color: $color-light;

    &:hover {
      background-color: #72bd8d;

      text-decoration: none;
      color: $color-light;
    }

    &:focus {
      text-decoration: none;
      color: $color-light;
    }
  }
}
// /buttons

.parallax-scroll {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $screen-xs-max) {
    background-attachment: scroll;
  }
}

.full-image-title {
  margin-left: -5px;
  margin-bottom: 20px;

  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  font-size: 60px;
  color: $big-title;

  @media (max-width: $screen-xs-max) {
    font-size: 40px;
  }
}

.full-image-subtitle {
  line-height: 2.3rem;
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  color: $color-light;
}

.container-block {
  padding-top: 100px;
  padding-bottom: 90px;

  @media (max-width: $screen-xs-max) {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-min) {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

.block-title {
  margin-bottom: 20px;

  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  font-size: 35px;
  color: #222626;

  @media (max-width: $screen-xs-max) {
    font-size: 25px;
  }
}

.b-text-title {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
  font-size: 13px;
  color: #67676d;
}

.b-text {
  margin-bottom: 27px;

  line-height: 2.3rem;
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  color: #959595;
}

// icons
.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;

  &.icon-apple {
    height: 25px;
    width: 19px;

    background-image: url('../images/sprite.png');
    background-position: 0 0;
  }

  &.icon-windows {
    height: 23px;
    width: 24px;

    background-image: url(../images/sprite.png);
    background-position: 0 -27px;
  }

  &.icon-check {
    height: 18px;
    width: 24px;

    background-image: url(../images/sprite.png);
    background-position: 0 -53px;
  }
}
// /icons

// remove padding for columns
.padding-right-0 {
  padding-right: 0;

  @media (max-width: $screen-xs-max) {
    padding-right: 15px;
  }
}

.padding-0 {
  padding-left: 0;
  padding-right: 0;

  @media (max-width: $screen-xs-max) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.padding-left-0 {
  padding-left: 0;

  @media (max-width: $screen-xs-max) {
    padding-left: 15px;
  }
}
// remove padding for columns

.link-more {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  color: $color-light;

  &:hover {
    color: $color-light;
  }
}
// /GENERAL STYLES

// HEADER
.header {
  position: absolute;
  padding-top: 50px;

  background-color: transparent;

  @media (max-width: $screen-xs-max) {
    padding-top: 20px;
  }

  .logo {
    margin-left: 10.5rem;

    @media (max-width: $screen-xs-max) {
      margin-left: 2.9rem;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-min) {
      margin-left: 3rem;
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      margin-left: 4.1rem;
    }
  }
}
// /HEADER

// INTRO
.intro {
  height: 100vh;

  background-image: url('../images/bg-sea.jpg');

  .alignment-middle {
    height: 176px;
    margin-top: -90px;
    position: absolute;
    top: 50%;
  }
}
// /INTRO

// 2nd SECTION
.img-phone {
  position: absolute;
  top: -70rem;
  left: 5rem;
  width: 80%;
}

.custom-padding-top {
  padding-top: 95px;

  @media (max-width: $screen-xs-max) {
    padding-top: 0;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-md-max){
    padding-top: 0;
  }
}
// /2nd SECTION

// PORTFOLIO
.portfolio {
  .portfolio-item {
    height: 274px;
    padding: 42px 40px 55px;

    z-index: 1;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include transition(.5s);

    &:hover {
      position: relative;
      z-index: 2;

      transform: scale(1.02);
      box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.45);
    }

    .portfolio-item-title {
      @extend .block-title;

      margin-bottom: 18px;

      font-size: 30px;
      color: $color-light;

      @media (max-width: $screen-xs-max) {
        font-size: 25px;
      }
    }

    .portfolio-item-description {
      @extend .b-text;

      margin-bottom: 32px;

      font-size: 13px;
      color: $color-light;
    }

    @media (max-width: $screen-xs-max) {
      height: auto;
      margin-bottom: 30px;
      padding: 12px 20px 25px;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-min) {
      padding: 12px 20px 15px;
    }
  }
}
// /PORTFOLIO

// 5th SECTION
.full-image {
  position: relative;
  height: 100vh;

  background-image: url('../images/bg-boat.png');

  .alignment-middle {
    height: 340px;
    margin-top: -170px;
    position: absolute;
    top: 50%;

    @media (max-width: $screen-xs-min) {
      height: 410px;
      margin-top: -205px;
    }

    @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
      height: 290px;
      margin-top: -145px;
    }
  }
}
// /5th SECTION

// RATES
.rates {
  .rates-item {
    padding: 50px 50px;

    @include transition(.5s);

    &:hover {
      background-color: #fff;

      box-shadow: 0px 0px 20px #e9eaed;

      .rates-item-badge {
        background-color: #bd8cbf;
      }
    }

    .rates-item-badge {
      @include transition(.5s);

      padding: 2px 7px 3px;

      border-radius: 3px;
      background-color: #e1e1e1;

      text-transform: uppercase;
      font-family: 'Open Sans';
      font-weight: bold;
      font-style: normal;
      font-size: 11px;
      color: $color-light;
    }

    .rates-item-title {
      @extend .block-title;

      margin-top: 15px;
      margin-bottom: 10px;

      font-size: 30px;
      color: #2e3b4e;
    }

    .rates-item-description {
      @extend .b-text;

      margin-bottom: 38px;

      color: #8297a7;
    }

    .platforms {
      margin-top: 25px;

      .icon-apple {
        margin-right: 13px;
      }
    }

    @media (max-width: $screen-xs-max) {
      margin-bottom: 20px;
      padding: 20px 20px;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-min) {
      padding: 30px 30px;
    }
  }
}
// /RATES

// FOOTER
.footer {
  .footer-menu {
    margin-top: 65px;

    .footer-menu-title {
      margin-bottom: 20px;

      font-weight: bold;
    }

    ul {
      .footer-menu-item {
        margin-bottom: 5px;

        a {
          @include transition(.2s);

          &:hover {
            padding-left: 5px;
          }
        }
      }

      @media (max-width: $screen-xs-max) {
        margin-bottom: 40px;
      }
    }

    @media (max-width: $screen-xs-max) {
      margin-top: 35px;
    }
  }

  form#feedback {
    margin-bottom: 10px;

    input {
      width: 85%;
      margin-top: 15px;
      padding: 20px 10px 20px 20px;
      float: left;

      background-color: #f6f7fa;

      border: none;
      @include border-right-radius(0 !important);
      border-radius: 3px;

      font-family: 'Open Sans';
      font-weight: normal;
      font-style: normal;
      font-size: 12px;
      color: #373a3c;

      &::-webkit-input-placeholder {
        font-family: 'Open Sans';
        font-weight: normal;
        font-style: normal;
        font-size: 12px;
        color: #373a3c;
      }

      &::-moz-placeholder {
        font-family: 'Open Sans';
        font-weight: normal;
        font-style: normal;
        font-size: 12px;
        color: #373a3c;
      }

      &:-ms-input-placeholder {
        font-family: 'Open Sans';
        font-weight: normal;
        font-style: normal;
        font-size: 12px;
        color: #373a3c;
      }

      &:-moz-placeholder {
        font-family: 'Open Sans';
        font-weight: normal;
        font-style: normal;
        font-size: 12px;
        color: #373a3c;
      }

      @media (max-width: $screen-xs-max) {
        width: 75%;
      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        width: 75%;
      }
    }

    .btn__green {
      height: 57px;
      margin-top: 15px;

      border: none;
      @include border-left-radius(0);
    }
  }

  .form-warning {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    color: #57697f;

    @media (max-width: $screen-xs-max) {
      br {
        display: none;
      }
    }
  }
}
// /FOOTER