extends layouts/default

block content

    .intro.parallax-scroll
        .container-fluid
            .container
                .alignment-middle
                    h1.full-image-title Picture perfect
                    p.full-image-subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua.
    .container-fluid.container-block
        .container
            .block-title Start something new
            .row
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    p.b-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    p.b-text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                    p.b-text eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
                .col-xs-12.col-sm-6.col-md-6.col-lg-6.custom-padding-top
                    img.img-phone.hidden-xs.hidden-sm(src='images/img-phone.png', alt='Image iPhone')
                    p.b-text Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                    p.b-text Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
    .container-fluid.portfolio
        .container
            .row
                mixin portfolio-item(background, title, description, linkMoreText)
                    .portfolio-item(style= background)
                        .portfolio-item-title= title
                        .portfolio-item-description= description
                        a.link-more(href='#')= linkMoreText + ' →'
                .col-xs-12.col-sm-4.col-md-4.col-lg-4.padding-right-0
                    +portfolio-item('background-color: #f5989d;', 'Design quality', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.', 'Find Out more')
                .col-xs-12.col-sm-4.col-md-4.col-lg-4.padding-0
                    +portfolio-item('background-color: #615f7d;', 'Built to last', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.', 'Find Out more')
                .col-xs-12.col-sm-4.col-md-4.col-lg-4.padding-left-0
                    +portfolio-item('background-image: url("images/img-1.png"); background-repeat: no-repeat;', 'Our clients', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt', 'Get insights')
                .col-xs-12.col-sm-8.col-md-8.col-lg-8.padding-right-0
                    +portfolio-item('background-image: url("images/img-2.png"); background-repeat: no-repeat;', 'Sign up & see why', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.', 'Get Started Now')
                .col-xs-12.col-sm-4.col-md-4.col-lg-4.padding-left-0
                    +portfolio-item('background-color: #82ca9c;', 'Perfect pictures', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.', 'Find Out more')
    .container-fluid.container-block
        .container
            .block-title A look at the details
            .row
                .col-xs-12.col-sm-6.col-md-3.col-lg-3
                    p.b-text-title Web based
                    p.b-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .col-xs-12.col-sm-6.col-md-3.col-lg-3
                    p.b-text-title Performance
                    p.b-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .col-xs-12.col-sm-6.col-md-3.col-lg-3
                    p.b-text-title Clultral
                    p.b-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .col-xs-12.col-sm-6.col-md-3.col-lg-3
                    p.b-text-title Sustainability
                    p.b-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .full-image.parallax-scroll
        .container-fluid
            .container
                .alignment-middle
                    h2.full-image-title More power<br>behind every pixel.
                    p.full-image-subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim<br>veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea<br>commodo consequat.
                    <br>
                    a.link-more(href='#') See the options →
    .container-fluid.container-block.bg-green
        .container
            .block-title.color-light Reasons to get onboard
            .row
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    p.b-text-title.color-light Web based
                    p.b-text.color-light Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    p.b-text-title.color-light Team login
                    p.b-text.color-light Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    p.b-text-title.color-light Great Support
                    p.b-text.color-light Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .container-fluid.container-block.rates.bg-concrete
        .container
            .row
                mixin rates-item (badge, title, description, price)
                    .rates-item
                        span.rates-item-badge= badge
                        .rates-item-title= title
                        .rates-item-description= description
                        a.btn__green(href='#', role='button')= 'Buy now $' + price
                        .platforms
                            .icon.icon-apple
                            .icon.icon-windows
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    +rates-item('Legacy', 'Go it solo', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco', '9')
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    +rates-item('Most popular', 'Team Plan', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco', '18')
