doctype html
html.no-js(lang='')
    head
        meta(charset='utf-8')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Take
        link(rel='apple-touch-icon', href='apple-touch-icon.png')
        // Place favicon.ico in the root directory

        // build:css styles/vendor.css
        // bower:css
        // endbower
        // endbuild

        link(rel='stylesheet', href='fonts/OpenSans/stylesheet.css')

        // build:css styles/main.css
        link(rel='stylesheet', href='styles/main.css')
        // endbuild

        // build:js scripts/vendor/modernizr.js
        script(src='/bower_components/modernizr/modernizr.js')
        // endbuild
    body
        <!--[if lt IE 10]>
        p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        <![endif]-->

        .b-mask
            .loader
                .loader-inner
                    .loader-line-wrap
                        .loader-line
                    .loader-line-wrap
                        .loader-line
                    .loader-line-wrap
                        .loader-line
                    .loader-line-wrap
                        .loader-line
                    .loader-line-wrap
                        .loader-line
        .header
            a(href='#'): img.logo(src='images/logo.png', alt='Logo')

        block content

        .container-fluid.container-block.footer.bg-navy
            .container
                .row
                    .col-xs-12.col-sm-6.col-md-6.col-lg-6
                        p.b-text-title.color-light Get in touch
                        p.b-text.color-light Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        .footer-menu
                            .row
                                mixin footerMenu (className, title)
                                    - var footerMenuItems = ['Tour', 'Customers', 'Pricing and Plans', 'New Features', 'Education']
                                    .col-xs-6.col-sm-3.col-md-3.col-lg-3(class=className)
                                        .footer-menu-title.color-light= title
                                        ul.list-unstyled
                                            each item in footerMenuItems
                                                li.footer-menu-item: a.color-light(href='#') #{item}
                                +footerMenu('', 'Resources')
                                +footerMenu('col-sm-offset-1', 'Features')
                                +footerMenu('col-sm-offset-1', 'How To’s')
                    .col-xs-12.col-sm-offset-1.col-sm-5.col-md-5.col-lg-5
                        p.b-text-title.color-light Stay in touch
                            form#feedback(method='', action='')
                                input(type='text', placeholder='E-mail')
                                button.btn__green(type='submit')
                                    .icon.icon-check
                            span.form-warning We don’t send spam. Actually, who are we kiding, we’ll spam<br>the shit out of you’r inbox

        // build:js scripts/vendor.js
        // bower:js
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/modernizr/modernizr.js')
        // endbower
        // endbuild

        // build:js scripts/plugins.js
        script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js')
        script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js')
        script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js')
        script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js')
        script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js')
        script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js')
        script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js')
        script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js')
        script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js')
        script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js')
        script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js')
        script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js')
        script(src='/bower_components/QueryLoader2/queryloader2.min.js')
        // endbuild

        // build:js scripts/main.js
        script(src='scripts/main.js')
        // endbuild